<!DOCTYPE >
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='base.css') }}"
    />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block head %} {% endblock %}
    <title>{% block title %}Xanime{% endblock %}</title>
    <style>
      #container {
        width: 95%;
        min-height: 100vh;
      }
    </style>
  </head>
  <body>
    <nav class="">
      <div class="nav-wrapper teal" id="nav">
        <a href="/home" class="brand-logo left">Xanime</a>
      </div>
    </nav>
    <div id="container" class="container">{% block body %} {% endblock %}</div>
    <script src="{{ url_for('static', filename='base.js') }}"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
