{% extends "base.html" %}
{% block head %}

{% endblock %}
{% block body %}
{% if searchResults %}
  <div class="row">
    <div class="col s12 m10">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">search</i>
          <input type="text" id="search-box">
          <label for="search-box">Search for anime...</label>
          <a class="waves-effect waves-light btn" id="search-button"><i class="material-icons left">search</i>Search</a>
        </div>
      </div>
    </div>
  </div>  
<div class="row">
    {% for anime in searchResults.data.Page.media %}
    <div class="col s6 m3 l2">
    <a href="{{ url_for('/.watch_anime',animeId=anime.id)}}">
      <img  class="anime-title" src="{{ anime.coverImage.large}}">
    </a>
    </div>
    {% endfor %}
  </div>
{% endif %}
{% endblock %}
{% block scripts %}
{% endblock %}
